@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 100 200 300 400 500 600 700 800 900;
	font-style: normal;
	font-display: swap;
	src: url('/woff2/PretendardVariable.woff2') format('woff2-variations');
}

@layer components {
	.student-bg {
		transform: rotate(-45deg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 200px;
		height: 200px;
		top: -70px;
		right: -90px;
		border-radius: 15px;
	}
}